.flex-container-one {
    display: flex;
}

.flex-container-one div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1;
}

.flex-container-two {
    display: flex;
    flex-direction: column;
}
.flex-container-two div {
    background: peachpuff;
    border: 4px solid brown;
    height: 80px;
    flex: 1 1 auto;
}